@page "/about"

<h3>About</h3>

<sup>
    Developed by <a href="mailto: edsel.clarin@yahoo.com">edsel.clarin@yahoo.com</a> | 
    <a href="https://www.linkedin.com/in/edsel-clarin-6594b4112">LinkedIn</a> |
    <a href="https://github.com/edselclarin">GitHub</a>
</sup>


@code {

}
