@page "/"

<PageTitle>Home</PageTitle>

@*<h1>Welcome!</h1>
*@


<h3>Welcome to Project 42!</h3>

<div class="col-md-8">
    <br />
    This website hosts a set of online tools that can come in handy for everyday tasks.
    Be sure to check back for new tools and improvements.  If you have comments or suggestions,
    please email them to <a href="mailto: edsel.clarin@yahoo.com">edsel.clarin@yahoo.com</a>.  Enjoy!
</div>
